.footer {
  background-color: #0f172a; /* dark navy */
  color: #e5e7eb;
  padding: 20px 0;
  margin-top: 40px;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-text {
  font-size: 14px;
}

.footer-text span {
  color: #38bdf8; /* highlight brand */
  font-weight: 600;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #cbd5f5;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #38bdf8;
}

/* Mobile responsive */
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    gap: 10px;
    text-align: center;
color: red;
   
  }
}
